
.DS_Store
*.prefab
*.prefab
*.prefab
gmap345/Assets/prefab/enemychase.prefab
gmap345/Assets/prefab/enemylunge.prefab
gmap345/Assets/int.unity
*.prefab
gmap345/Assets/prefab/enemychase.prefab
gmap345/Assets/int.unity
gmap345/.vs/gmap345/v15/.suo
gmap345/Assets/prefab/enemychase.prefab
gmap345/Assets/prefab/enemychase.prefab
gmap345/Assets/prefab/enemylunge.prefab
gmap345/Assets/int.unity
*.prefab
